@page
@model ChatServer.Pages.ChatModel
@{
}

<body>

    <div class="container bg-primary-subtle">
        <div class="card">
            <div class="col-12  card-header" style="border-radius: 10px;">
                <div class="header text-center">
                    WebChat123
                </div>
            </div>
            <div class="card-body shadow">
                <div class="message-section bg-primary text-center" style="border-radius: 10px;">
                    Message Section
                </div>
                <div class="message-box col-12 bg-primary-subtle">
                    <!-- left side -->
                    <div class="message-box-sent border border-primary bg-info mb-2 mt-2">
                        <div class="text-start p-2">
                            Recieved message fffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff
                        </div>
                    </div>
                    <!-- right side -->
                    <div class="message-box-recieved border border-primary bg-info mb-2 mt-2">
                        <div class="text-start p-2">
                            Sent message fffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff
                        </div>
                    </div>
                    <!-- left side -->
                    <div class="message-box-sent border border-primary bg-info mb-2 mt-2">
                        <div class="text-start p-2">
                            Recieved message fffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff
                        </div>
                    </div>
                    <!-- right side -->
                    <div class="message-box-recieved border border-primary bg-info mb-2 mt-2">
                        <div class="text-start p-2">
                            Sent message fffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff
                        </div>
                    </div>
                    <!-- left side -->
                    <div class="message-box-sent border border-primary bg-info mb-2 mt-2">
                        <div class="text-start p-2">
                            Recieved message fffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff
                        </div>
                    </div>
                    <!-- right side -->
                    <div class="message-box-recieved border border-primary bg-info mb-2 mt-2">
                        <div class="text-start p-2">
                            Sent message fffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff
                        </div>
                    </div>
                    <!-- left side -->
                    <div class="message-box-sent border border-primary bg-info mb-2 mt-2">
                        <div class="text-start p-2">
                            Recieved message fffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff
                        </div>
                    </div>
                    <!-- right side -->
                    <div class="message-box-recieved border border-primary bg-info mb-2 mt-2">
                        <div class="text-start p-2">
                            Sent message fffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff
                        </div>
                    </div>


                </div>
                <div class="col-12 bg-primary-subtle" style=" border-radius: 10px;">
                    <div class="input-section bg-danger text-center" style="border-radius: 10px;">
                        Input Section
                    </div>
                    <div class="input-group input-area mb-3">
                        <input type="text" class="form-control" placeholder="Input your message here">
                        <button class="btn btn-outline-secondary" type="button" style="margin-right: 10px;">Send message</button>
                    </div>
                </div>
            </div>


        </div>
    </div>
</body>
